@font-face {
  font-family: "iconfont"; /* Project id 2521465 */
  src: url('iconfont.woff2?t=1620613208898') format('woff2'),
       url('iconfont.woff?t=1620613208898') format('woff'),
       url('iconfont.ttf?t=1620613208898') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dengpao:before {
  content: "\e604";
}

.icon-tuichu:before {
  content: "\e667";
}

.icon-suo:before {
  content: "\e657";
}

.icon-right-arrow-1:before {
  content: "\e699";
}

.icon-QQ:before {
  content: "\e726";
}

.icon-weixin-copy:before {
  content: "\eb40";
}

.icon-wode-copy:before {
  content: "\eb41";
}

.icon-plus-square-fill:before {
  content: "\eb3e";
}

.icon-jianshao-copy:before {
  content: "\eb3f";
}

.icon-tianchongxing-:before {
  content: "\e636";
}

.icon-jindian:before {
  content: "\e725";
}

.icon-shouye:before {
  content: "\e614";
}

.icon-iconfront-:before {
  content: "\e611";
}

.icon-xialajiantou1:before {
  content: "\e625";
}

.icon-huaban28:before {
  content: "\e701";
}

.icon-jiantouarrow487:before {
  content: "\e6ab";
}

.icon-dingwei:before {
  content: "\e6ad";
}

.icon-sousuo:before {
  content: "\e61c";
}

.icon-icon8:before {
  content: "\e664";
}

.icon-zhankai:before {
  content: "\e632";
}

