<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册界面</title>
    <link rel="stylesheet" href="../public/iconfont/iconfont.css">
    <link rel="stylesheet" href="./styles/main.css">
    <script src="./scripts/ts/main.js"></script>
    <script src="./scripts/ts/register.js" type="module" defer></script>
</head>
<body>
    <div class="layout">
        <div class="rige-cap">
            <div class="login-cap clear-float area">
                <a href="./index.html">
                    <img src="../../public/images/login_logo.png">
                </a>
                <div>欢迎注册</div>
                <p class="float-right go-login">已有账号？ <a class="float-right request" href="./login.html">请登录<span class="iconfont icon-jiantouarrow487"></span></a></p>
            </div>
        </div>
        <div class="rige-con">
            <div class="meg-box clear-float">
                <span>账号</span><input class="re-user" type="text" placeholder="请输入用户名">
            </div>
            <div class="meg-box clear-float">
                <span>密码</span><input class="re-pass" type="password" placeholder="请输入密码">
            </div>
            <div>
                <button>注册</button>
            </div>
        </div>
    </div>
</body>
</html>